<configuration scan="true" scanPeriod="60 seconds" debug="true">
  <!-- scan="true" enables automatic updates if config file changes, see http://logback.qos.ch/manual/configuration.html -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="de.srsoftware.web4rail" level="INFO"/>
  <logger name="de.srsoftware.web4rail.Application" level="INFO"/>
  <logger name="de.srsoftware.web4rail.Command" level="INFO"/>
  <logger name="de.srsoftware.web4rail.ControlUnit" level="INFO"/>
  <logger name="de.srsoftware.web4rail.moving" level="INFO"/>
  
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
