html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}

.tile{
	border: 1px solid black;
	width: 30px;
	height: 30px;
	position: absolute;
}

svg polygon,
svg rect{
	fill:rgb(0,255,255);
	stroke-width:5;
	stroke:rgb(0,0,0);
}

svg text{
	font-size: 50px;
}

.menu{
	position: fixed;
	width: 100%;
	height: 30px;
	bottom: 0px;
}

.menu > div{
	position: relative;
	float: left;
	border: 1px solid black;
	height: 30px;
	min-width: 30px;
	background: white;
	padding: 3px;
	text-align: center;
}

.menu .list{
	display: none;
}

.menu div:hover .list{
	display: inherit;
}

.menu > div > .list{
	position: fixed;
	height: 30px;
	bottom: 30px;
	width: 100%;
}

.menu > div > .list > *{
	position: relative;
	border: 1px solid black;
	height: 30px;
	min-width: 30px;
	text-align: center;
	float: left;
}

#messages{
	display: none;
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	border-radius: 5px;
	background: yellow;
}

#tile-properties{
	position: fixed;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background: yellow;
	padding: 5px;
}

h2{
	margin: 0 0 10px;
	text-align: center;
	background: #627fda;
}

.closebtn{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 30px;
	background: red;
	color: white;
}

#Eraser polygon{
	stroke: red;
}