html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;  
}
button{
	border: 1px solid blue;
	border-radius: 3px;
	margin: 2px;
}

button.active{
	background: green;
	color: white;
}

#plan{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#scroll,
.window{
	height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
	  background-size: 30px 30px;
	  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    background-attachment: local;
}

.window{
	bottom: 0;
	right: 0;
	background: white;
}

.tile{
	width: 30px;
	height: 30px;
	position: absolute;
}

.tile.fill{
	background: white;
	border: 1px solid black;
}

.crossH{
	width: 60px;
}
.crossV{
	height: 60px !important;
}

label{
	display: flex;
}

svg circle,
svg line,
svg polygon,
svg rect{
	fill:#617de4;
	stroke-width:5;
	stroke:rgb(0,0,0);
}

svg.Relay rect{
	fill: white;
}

svg.reserved polygon,
svg.reserved rect{
	fill: yellow;
}

svg.locked polygon,
svg.locked rect{
	fill: lime;
}

svg.occupied polygon,
svg.occupied rect{
	fill: orange;
}

svg.preview circle,
svg.preview line,
svg.preview polygon,
svg.preview rect{
	fill:cyan;
}

svg rect.sig_a,
svg rect.sig_b{
	fill: inherit;
}

svg text{
	font-size: 38px;
	font-family: sans-serif;
}

svg .block{
	fill: #ffffff;
}

svg circle{
	fill: #d3d7cf;
}

.menu{
	position: absolute;
	height: 30px;
	padding: 10px 0;
	bottom: 10px;
	background: rgba(0,0,0,0.5);	
	width: 100%;
}

.menu > div{
	float: left;
	border: 1px solid black;
	height: 30px;
	min-width: 30px;
	background: white;
	padding: 3px;	
	text-align: center;
}

.Shadow,
.menu .list{
	display: none;
}

.menu div:hover .list{
	display: inherit;
}

.menu > div > .list{
	position: absolute;
	left: 0;	
	bottom: 40px;
	width: 90%;
	z-index: 10;
	background: rgb(198,219,210,0.8);	
	padding: 20px 40px 0;
}

.menu > div > .list > *{
	position: relative;
	border: 1px solid black;
	height: 30px;
	min-width: 30px;
	text-align: center;
	float: left;
	background: #ecffa2;
}

#messages{
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	border-radius: 5px;
	background: yellow;
	z-index: 100;
}

h2{
	margin: 0 0 10px;
	text-align: center;
	background: #627fda;
}

.swapbtn,
.closebtn{
	position: absolute;
	top: 10px;
	font-size: 30px;
	background: red;
	color: white;
	width: 40px;
	height: 40px;
	text-align: center;
}

.actions .list > div,
.hardware .list > div,
.help .list > div,
.trains .list > div{
	padding: 5px;
	height: unset;
}

.closebtn{
	right: 10px;	
}

.swapbtn{
	right: 50px;
}

#Eraser polygon{
	stroke: red;
}

.signal.red .sig_a{
	fill: red;
}
.signal.HL2 .sig_a,
.signal.green .sig_a{
	fill: lime;
}
.signal.HL2 .sig_b{
	fill: yellow;
}

.sig_b{
	fill: black;
}

.link{
	cursor: pointer;
}

#heartbeat {
    width: 15px;
    height: 15px;
    background: lime;
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
}

svg.left rect,
svg.right rect,
svg.straight .left,
svg.straight .right{
	fill: #ddd !important;
}

.active circle{
	fill: #f57900;
}
.Block.active{
	background: #f57900;
}

polygon.oneway{
	fill: lime;
	stroke-width:0;
}

fieldset{
	float: left;
	border: 1px solid black;
	border-radius: 5px;
}
.error{
	background: orange;
	margin: 30px 10px 5px;
	padding: 0;
	border-radius: 10px;
}

.error p{
	padding: 5px;
}

h4,ul{
	clear: both;
}

.menu div.emergency{
	background: #ffb561;
}

.window .disabled{
	background: orange;
	padding: 3px;
	display: table;
}

.window tr.disabled {
    display: table-row;
}

svg.disabled circle,
svg.disabled line,
svg.disabled polygon,
svg.disabled rect{
	fill: #ddddef;
	stroke-width:5;
	stroke: red;
}

#train-wait-form input{
	text-align: right;
	width: 100px;
}

#train-wait-form td{
	text-align: right;
}

.cockpit button{
	padding: 15px;
	font-weight: bold;
}

.cockpit .stop{
	min-width: 150px;
}

fieldset.notes{
	min-width: 50%
}
fieldset.notes textarea{
	min-width: 100%;
}

table.turnouts,
table.brake-times{
	border-collapse: collapse;
}

table tr:hover td{
	background: #cadbdb;
}

table tr.disabled:hover td {
    background: yellow;
}

tr.due td{
	background: orange;
}

table.brake-times tr > *{
	border-style: solid;
	border-color: black;
	border-width: 0 1px;
	text-align: center;
	padding: 2px 5px;
}

table.brake-times th{
	border-width: 0 1px 1px;
}

.turnouts .group > *{
	border-color: black;
	border-style: solid;
	border-width: 1px 0 0;
}

polyline{
	stroke: black;
	stroke-width: 5px;
	fill: none;
}

svg.disconnected rect{
	fill: red;
}

textarea.json {
	width: 90%;
	height: 33%;
	margin-left: 5%;
}

svg.Block text{
	fill: black;
}

.window > .tabs > legend {
	float:left;
	background: lightgray;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px 5px 0 0;
	margin: 0 3px;
}

.window legend.front{
	background: white;
	border-bottom-color: white;
	position: relative;
	z-index: 10;
}

.window fieldset {
	position: relative;
    top: -1px;
    float: none;
    clear:both;
    border-radius: 0 5px 5px 5px;
}

#aspect-form td{
	text-align: center;
}

.directory{
	color: blue;
}

.plan-file{
	color: green;
}

.Switch rect{
	fill:none;
}

.Switch.off rect.enabled,
.Switch.on rect.disabled{
	display: none;	
}

.Switch.off rect.disabled{
	fill: red;
}
.Switch.on rect.enabled{
	fill: forestgreen;	
}
