html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;  
}

#plan{
	background: #c6dbd2;
	height: 100%;
	width: 100%;
}

.tile{
	border: 1px solid black;
	width: 30px;
	height: 30px;
	position: absolute;
	background: white;
}

.crossH{
	width: 60px;
}
.crossV{
	height: 60px !important;
}

svg circle,
svg line,
svg polygon,
svg rect{
	fill:#617de4;
	stroke-width:5;
	stroke:rgb(0,0,0);
}

svg.locked polygon,
svg.locked rect:not(.sig_a):not(.sig_b){
	fill:lime;
}

svg text{
	font-size: 50px;
}

svg .block{
	fill: #ffffff;
}

svg circle{
	fill: gray;
}

.menu{
	position: fixed;
	width: 100%;
	height: 30px;
	bottom: 0px;
}

.menu > div{
	position: relative;
	float: left;
	border: 1px solid black;
	height: 30px;
	min-width: 30px;
	background: white;
	padding: 3px;
	text-align: center;
}

.Shadow,
.menu .list{
	display: none;
}

.menu div:hover .list{
	display: inherit;
}

.menu > div > .list{
	position: fixed;
	height: 30px;
	bottom: 30px;
	width: 100%;
}

.menu > div > .list > *{
	position: relative;
	border: 1px solid black;
	height: 30px;
	min-width: 30px;
	text-align: center;
	float: left;
	background: #ecffa2;
}

#messages{
	display: none;
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	border-radius: 5px;
	background: yellow;
}

.window{
	position: fixed;
	top: 50%;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background: yellow;
	padding: 5px;
	overflow: scroll;
}

h2{
	margin: 0 0 10px;
	text-align: center;
	background: #627fda;
}

.closebtn{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 30px;
	background: red;
	color: white;
}

#Eraser polygon{
	stroke: red;
}

.signal.stop .sig_a{
	fill: red;
}
.signal.go .sig_a{
	fill: lime;
}

.sig_b{
	fill: black;
}

.link{
	cursor: pointer;
}

#heartbeat {
    width: 15px;
    height: 15px;
    background: lime;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

svg.left rect,
svg.right rect,
svg.straight .left,
svg.straight .right{
	fill: white !important;
}

.occupied .block{
	fill: yellow;
}

.active circle{
	fill: #ffcc88;
}